<h2><%= @task.title %></h2>

<p><%= @task.details %></p>

<% if @task.completed? %>
<p>☑ <%= "This task is completed." %></p>
<% else %>
<p>☐ <%= "This task is not completed yet." %></p>
<% end %>

<%= link_to "Edit this task", edit_path(@task) %><br><br>

<%= link_to "Back to list", tasks_path %>


